@model string
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.Hidden("token", Model)
    </div>
    <div>
        <label>New Password</label> @Html.Password("newPass")
    </div>
    <div>
        <input type="submit" />
    </div>
}