@model Widget
@{
    var article = Article.GetByType(Model.ArticleTypeId.Value, SiteConfig.LanguageId, Model.Attribute, 1, Model.Number, Model.SortOrder, Model.SortDirection, Model.Includes);
    if (article.List.Count > 0)
    {
        <div class="box-partner">
                <div class="row">
                    <div class="owl-carousel" data-plugin-options='{"items": 6, "singleItem": false, "autoPlay": true, "navigation": true, "pagination": false,"slideSpeed":400,"addClassActive":true,"itemsDesktop": [1199, 6],"itemsDesktopSmall": [991, 6],"itemsTablet": [768, 3],"itemsMobile": [479, 3]}' data-snap-ignore="true">
                        @foreach (var item in article.List)
                        {
                            var link = "#";
                            if (Model.IncludeProperty)
                            {
                                link = item.PropertyValues.FirstOrDefault(a => a.Property.Code.Equals("URL", StringComparison.OrdinalIgnoreCase)).Value;
                            }
                            <div class="items">
                                <a href="@link" target="_blank" class="banner-cubic-6" title="@item.ArticleName">
                                    @Html.Image(item.ImageUrl, new ImageOptions { Width = 150, Height = 60, Mode = ImageMode.pad, Lazy = true }, new { alt = item.ArticleName, @class = "owl" })
                                </a>
                            </div>
                        }
                    </div>
                </div>
        </div>
    }
}