@{
    ViewBag.Title = "Quên mật khẩu";
}


<div class="form-bg form-reset">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess="sent"}))
    {
        @Html.AntiForgeryToken()
                
   			
        <h2>Quên mật khẩu</h2>
        <p>
            <input type="text" placeholder="Nhập địa chỉ email" name="Email" class="email"></p>
        
        <button type="submit" value="Reset" class="button" />
			
		
    }


</div>
<p class="notice"></p>
<script type="text/javascript">
    function sent(data, status, xhr)
    {
        $(".notice").html(data.Message);
    }
</script>