@{
    ViewBag.Title = "Sitemaps";
    ViewBag.Breadcrumb = new BreadcrumbModel { Items = new List<BreadcrumbItem> { new BreadcrumbItem { Text = "Sitemap", Url = null, IsLast = true } } };
}

<div id="showHideDiv">
            
              @Html.Partial("Sitemap1")
         </div>
