<div class="box-home bf-facebook items bf-box">
    @*<h2 class="heading">
        <span>Fanpage Facebook</span>
    </h2>*@
    <div class="content">
        @Html.Setting("FANPAGE")
    </div>
</div>
