@{
    ViewBag.Title = "Đăng ký tư vấn";
    ViewBag.Breadcrumb = new BreadcrumbModel { Items = new List<BreadcrumbItem> { new BreadcrumbItem { Text = ViewBag.Title.ToString(), Url = null, IsLast = true } } };
}
<div class="my-book text-center">
    <strong>
        Đăng ký tư vấn của Quý khách đã được gửi đến chúng tôi.
    </strong>
    <br />
    <a href="/"><i class="fa fa-home"></i>Về trang chủ</a>
</div>
