<section id="copy-right">
    <div class="container">
        <div class="item left">
            <span> © Copyright 2011</span>
            <a href="/">@SiteConfig.SiteInfo.DefaultDomain.</a>
        </div>
        @*<div class="item right">
            <span>Designed by</span>
            <a href="http://viennam.com" target="_blank">Viễn Nam</a>
        </div>*@
    </div>
</section>
