<div class="box-footer box-footer-consulting">
    <h2 class="heading">Danh mục</h2>
    <div class="content eded">


        <p class="item">
            <a href="/">
                <i class="fa fa-angle-double-right"></i>  Trang chủ
            </a>
        </p>
        <p class="item">
            <a href="/gioi-thieu.html">
                <i class="fa fa-angle-double-right"></i>  Giới Thiệu
            </a>
        </p>
        <p class="item">
            <a href="/tai-lieu-bang-gia.html">
                <i class="fa fa-angle-double-right"></i>  Tài liệu & Bảng giá
            </a>
        </p>
        <p class="item">
            <a href="/tuyen-dung.html">
                <i class="fa fa-angle-double-right"></i>  Tuyển dụng
            </a>
        </p>
        <p class="item">
            <a href="/contact.html">
                <i class="fa fa-angle-double-right"></i>  Liên hệ
            </a>
        </p>



    </div>
</div>

