<div class="box-sidebar-2 box-fance-page hidden-sm hidden-xs">
    <div class="heading">
        <h3>Chúng tôi trên Google+</h3>
    </div>
    <div class="content">
        @Html.Widget("googlepage")
    </div>
</div>
