<div class="left-col lr-weather">
    <div class="header">
        <h2>Tỷ giá</h2>
    </div>
    <div class="content">
        <div id='exchange'></div>
    </div>
</div>
<script src='http://utils.viennam.com/home/exchange'></script>
<script>$(function () { $("#exchange").exchange() })</script>