<section id="support" >
    <div class="support">
        @Html.Image(SiteConfig.Image("fb-right.png"), new ImageOptions { Width = 48, Height = 155, Lazy = false }, new { alt = "support" })
    </div>
    <div class="box-content">
        <ul class="supports">
            <li>
                @Html.Setting("FANPAGE")
            </li>
        </ul>
    </div>
</section>
