<script type="text/javascript" src="http://vnexpress.net/Service/Gold_Content.js"></script>
<script type="text/javascript" src="http://vnexpress.net/Service/Forex_Content.js"></script>
<div class="left-col lr-weather">
    <div class="header">
        <h2>Thời tiết</h2>
    </div>
    <div class="content">
        <div id='weather'></div>
    </div>
</div>
<script src='http://utils.viennam.com/home/weather'></script>
<script>
    $(function () { $("#weather").weather('Hà Nội') })
</script>
