<section id="b-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                @Html.AjaxPartial("_BFNews")
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.Partial("_BFVideo")
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.Partial("_BFFacebook")
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.AjaxPartial("_BFMap")
            </div>
        </div>
    </div>
</section>
