<div class="pull-left">
    <div class="hot-line">
        <span>Hotline:</span> <span>@SiteConfig.SiteInfo.Hotline</span>
    </div>
</div>
<div class="pull-right">
    <div class="cart">
        @Html.Partial("_ShopCart")
    </div>
    <div class="search">
        @Html.Partial("_SearchBox")
    </div>
</div>
