<?xml version="1.0" encoding="utf-8" ?>
<bundles>
  <bundle id="jquery" type="js" active="true" >
    <file path="~/Scripts/jquery-2.2.3.js"></file>
    <file path="~/Scripts/jquery.unobtrusive*"></file>
    <file path="~/Scripts/vns.ajaxloader.js"></file>
    <file path="~/Scripts/jquery-ui.min-1.11.1.js"></file>
    <file path="~/Scripts/jquery-ui-1.11.1.js"></file>
    <file path="~/Scripts/slick.min.js"></file>
  </bundle>

  <bundle id="vcms" type="js" active="true" >
    <file path="~/Scripts/keyword/jquery.keyword*"></file>
    <file path="~/Scripts/jquery.pager*"></file>
    <file path="~/Scripts/vns.vcms*"></file>
    <file path="~/Scripts/latinize.js"></file>
    <file path="~/Scripts/jquery.lazy.js"></file>
    <file path="~/Scripts/jquery.circle.all.js"></file>

  </bundle>
  <bundle id="froala" type="js" active="true">
    <file path="~/Scripts/Froala/froala_editor.min.js"></file>
    <file path="~/Scripts/Froala/plugins/block_styles.min.js"></file>
    <file path="~/Scripts/Froala/plugins/colors.min.js"></file>
    <file path="~/Scripts/Froala/plugins/font_family.min.js"></file>
    <file path="~/Scripts/Froala/plugins/font_size.min.js"></file>
    <file path="~/Scripts/Froala/plugins/lists.min.js"></file>
    <file path="~/Scripts/Froala/plugins/media_manager.min.js"></file>
    <file path= "~/Scripts/Froala/plugins/tables.min.js"></file>
    <file path= "~/Scripts/Froala/plugins/video.min.js"></file>
    <file path= "~/Scripts/Froala/plugins/file_upload.min.js"></file>

  </bundle>
  <bundle id="Pager" type="js" active="true">
    <!--<file path="~/Content/Plugin/jquery.magnific-popup.min.js"></file>-->
    <!--<file path="~/Content/Plugin/jquery.elevatezoom.js"></file>
    <file path="~/Content/Plugin/jquery.elevatezoom.js"></file>
    <file path="~/Content/Plugin/jquery.fancybox_new.js"></file>-->
    <file path="~/Content/Plugin/Script.js"></file>
    <file path="~/Content/Plugin/Custom.js"></file>
  </bundle>
  <bundle id="PagerM" type="js" active="true">
    <file path="~/Content/Plugin/ScriptMobile.js"></file>
    <file path="~/Content/Plugin/Custom.js"></file>
  </bundle>
  <bundle id="Slider" type="js" active="true">
    <file path="~/Scripts/owl.carousel.js"></file>
    <file path="~/Content/Plugin/jquery.easing.1.3.js"></file>
  </bundle>
  <bundle id="SliderM" type="js" active="true">
    <file path="~/Scripts/owl.carousel.js"></file>
    <!--<file path="~/Content/Plugin/jquery.easing.1.3.js"></file>-->
  </bundle>
  <bundle id="datetime" type="js" active="true">
    <file path="~/Content/Plugin/LiveDateTime.*"></file>
  </bundle>
  <bundle id="Fixie" type="js" active="true">
    <file path="~/Content/Plugin/html5.js"></file>
    <file path="~/Content/Plugin/respond.min.js"></file>
  </bundle>
  <bundle id="bootstrap" type="js" active="true">
    <file path="~/Scripts/bootstrap.*"></file>
  </bundle>
  <bundle id="jqueryval" type="js" active="true">
    <file path="~/Scripts/jquery.validate*"></file>
    <file path="~/Scripts/vns.validator*"></file>
  </bundle>
  <bundle id="dcaccordion" type="js" active="true">
    <file path="~/Scripts/jquery.cookie.*"></file>
    <file path="~/Scripts/jquery.dcjqaccordion.{version}.js"></file>
  </bundle>
  <bundle id="jqueryui" type="js" active="true">
    <file path="~/Scripts/jquery-ui-{version}.js"></file>
  </bundle>
  <bundle id="admin" type="js" active="true">
    <file path="~/Scripts/admin.min.js"></file>
    <file path="~/Scripts/vns.editor.js"></file>
  </bundle>
  <bundle id="ckeditor" type="js" active="true">
    <file path="~/Scripts/ckeditor/ckeditor-fixpath.js"></file>
    <file path="~/Scripts/ckeditor/ckeditor.js"></file>
  </bundle>
</bundles>