
<style>
    .content-wrapper a {
        color: #fff !important;
    }
    footer .content-wrapper p{
        margin-bottom: 5px;
        font-size: 14px;
    }
    footer .content-wrapper p.link{
        display: inline-block;
        margin-right: 10px;
    }
</style>
<footer>
    <div class="content-wrapper">
        <div class="float-left">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 114/40 Tô Ngọc Vân, Phường Thạnh Xuân, Quận 12, TP. Hồ Chí Minh</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i> Tư vấn & hỗ trợ kỹ thuật qua điện thoại:<a href="tel:0913536461">0913536461</a> - <a href="tel:0862576674" style="color: #fff;">0862576674</a> </p>
            <p class="link"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:hotro@viennam.com"> hotro@viennam.com</a></p>
            <p class="link"><i class="fa fa-skype" aria-hidden="true"></i> skype: <a href="skype:viennam.contact?chat">viennam.contact</a>​</p>
            <p>&copy; @DateTime.Now.Year - vcms administrator</p>
        </div>
    </div>
</footer>
