<div id="site-name">
                            @*<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="760" height="112" id="banner" align="middle">
                                <param name="movie" value="@Url.Content("~/Content/banner.swf")" />
                                <param name="quality" value="high" />
                                <param name="bgcolor" value="#ffffff" />
                                <param name="play" value="true" />
                                <param name="loop" value="true" />
                                <param name="wmode" value="transparent" />
                                <param name="scale" value="showall" />
                                <param name="menu" value="true" />
                                <param name="devicefont" value="false" />
                                <param name="salign" value="" />
                                <param name="allowScriptAccess" value="sameDomain" />
                                <embed height="112" width="760" pluginspage="http://www.macromedia.com/go/getflashplayer" 
                                    type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" menu="false" wmode="transparent" 
                                    src="@Url.Content("~/Content/banner.swf")">
                            </object>*@
    @SiteConfig.SiteInfo.WebsiteDetail[SiteConfig.LanguageId].Name
                        </div>