 <div class="clear-fix" > 
                    @Html.Partial("_BoxFooterCustomer")
                </div>
                <div class="float-left" >
                    @Html.Partial("_FooterAddress")
                </div>
                <div class="float-right" >
                @Html.Partial("_BoxCopyright")</div>