@model Widget
@{
    var category = Category.GetByType((int)Model.ArticleTypeId, SiteConfig.LanguageId);
    if (category.Count > 0)
    {
        <div class="box-siderbar box-brand">
            <h2 class="heading">
                @Model.Title
            </h2>
            <ul class="listbrand">
                @foreach (var item in category)
                {
                    <li>
                        <a href="@Url.Action("Detail", "Category", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly.ToLower() })" title="">
                            <input type="checkbox" />@item.CategoryName
                            <span class="checkmark"></span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
}
<script>
    $(document).ready(function () {
        var url = window.location;
        var element = $('ul.listbrand li a').filter(function () {
            return this.href == url || url.href.indexOf(this.href) == 0;
        }).parent().addClass('active');
        if (element.is('li')) {
            element.addClass('active').parent().parent('li').addClass('active')
        }
    });
</script>
