.grey .accordion
{
    /*font: bold 14px Arial, sans-serif;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;*/
}
.sub-level .active-li a
{
    color: #014ac4;
}
    .grey .accordion, .grey .accordion li
    {
        margin: 0;
        padding: 0;
        border: none;
    }

   /*.grey .accordion .li-last
    {
       border-top: 1px dashed white;
       margin-top: -11px;
    }*/

        .grey .accordion a.cate-name
        {
            padding: 10px 25px 10px 10px;
            /*background: #ececec;*/
            text-decoration: none;
            display: block;
            color: #333;
            border-bottom: 1px solid #ccc;
            /*border-top: 1px solid #fff;*/
            position: relative;
            text-shadow: 1px 1px 1px #fff;
            font-size: .85em;
        }

        .grey .accordion a.cate-name-last
        {
            border-bottom: none;
        }

        .grey .accordion ul.level1 li
        {
            padding-bottom: 2px;
            padding-top: 5px;
            margin-right: 5px;
        }
            .grey .accordion ul.level1 li a
            {
                background: url(images/arrow_right.png) no-repeat 1px 5px;
                padding-left: 10px;
                font-weight: 500;
                font-size: .85em;
            }

        .grey .accordion a.cate-name
        {
            cursor: pointer;
            font-weight: 700;
            font-size: 0.85em;
            background: url(images/arrow_grey.png) no-repeat 204px 14px;
        }

            .grey .accordion a.cate-name:hover
            {
                color: #017ad6;
                background: url(images/arrow_grey_active.png) no-repeat 202px 15px;
            }

.sub-level
{
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.grey .accordion a.dcjq-parent, .grey .accordion a.dcjq-parent:hover
{
    /* background: #D7D4D4 url(images/bg_grey.png) repeat-x 0 -1px;*/
}

    .grey .accordion a.dcjq-parent.active
    {
        color: #014ac4;
         /*background: url(images/arrow_grey_active.png) no-repeat 202px 15px;*/
    }

.grey .accordion a .dcjq-icon
{
    /*position: absolute;
                top: 50%;
                left: 14px;
                width: 34px;
                margin-top: -17px;
                height: 34px;
                background: url(images/arrow_grey_right.png) no-repeat 0 center;*/
}

.grey .accordion a.dcjq-parent.active .dcjq-icon
{
    background: url(images/arrow_grey_down.png) no-repeat 0 center;
}

.grey .accordion a:hover
{
    background: #fff;
    color: #014ac4;
}

.grey .accordion a:active
{
}
