/*@OpenSansPath: "../fonts/OpenSans";
@RalewayPath: "../fonts/Raleway/";*/
@UTMAvoPath: "../fonts/Utm-Avo";
@UTMHelvetInsPath: "../fonts/UTM-HelvetIns";
@UTMSwissCondensedPath: "../fonts/UTM-Swiss-Condensed";
@UTMEremitagePath: "../fonts/UTMEremitage";

@font-face {
    font-family: 'UTM Eremitage';
    src: url('@{UTMEremitagePath}/UTM Eremitage.ttf');
}
@font-face {
    font-family: 'UTM Swiss Condensed';
    src: url('@{UTMSwissCondensedPath}/UTM Swiss CondensedBold.ttf');
}

@font-face {
    font-family: 'UTM HelvetIns';
    src: url('@{UTMHelvetInsPath}/utmhelvetins.eot');
    src: url('@{UTMHelvetInsPath}/utmhelvetins.eot?#iefix') format('embedded-opentype'), url('@{UTMHelvetInsPath}/utmhelvetins.woff') format('woff'), url('@{UTMHelvetInsPath}/utmhelvetins.ttf') format('truetype'), url('@{UTMHelvetInsPath}/utmhelvetins.svg#UTMHelvetInsRegular') format('svg');
}

/*@font-face {
    font-family: 'UTM Swiss Condensed';
    src: url('@{UTMSwissCondensedPath}/utmswisscondensed.eot');
    src: url('@{UTMSwissCondensedPath}/utmswisscondensed.eot?#iefix') format('embedded-opentype'), url('@{UTMSwissCondensedPath}/utmswisscondensed.woff') format('woff'), url('@{UTMSwissCondensedPath}/utmswisscondensed.ttf') format('truetype'), url('@{UTMSwissCondensedPath}/utmswisscondensed.svg#UTMSwissCondensedRegular') format('svg');
}*/
/*@font-face {
  font-family: 'UTM Avo';
  src: url('@{UTMAvoPath}/UTMAvo.eot');
  src: url('@{UTMAvoPath}/UTMAvo.eot?#iefix') format('embedded-opentype'),
       url('@{UTMAvoPath}/UTMAvo.woff') format('woff'),
       url('@{UTMAvoPath}/UTMAvo.ttf') format('truetype'),
       url('@{UTMAvoPath}/UTMAvo.svg#UTMAvo') format('svg');
}*/
/*@font-face {
    font-family: 'Raleway';
    src: url('@{RalewayPath}/Black/RalewayBlack.eot');
    src: url('@{RalewayPath}/Black/RalewayBlack.eot') format('embedded-opentype'),
         url('@{RalewayPath}/Black/RalewayBlack.woff2') format('woff2'),
         url('@{RalewayPath}/Black/RalewayBlack.woff') format('woff'),
         url('@{RalewayPath}/Black/RalewayBlack.ttf') format('truetype'),
         url('@{RalewayPath}/Black/RalewayBlack.svg#RalewayBlack') format('svg');
    font-weight:900;
    font-stretch:normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('@{RalewayPath}/Black/RalewayBlack.eot');
    src: url('@{RalewayPath}/Black/RalewayBlack.eot') format('embedded-opentype'),
         url('@{RalewayPath}/Black/RalewayBlack.woff') format('woff'),
         url('@{RalewayPath}/Black/RalewayBlack.ttf') format('truetype'),
         url('@{RalewayPath}/Black/RalewayBlack.svg#RalewayBlack') format('svg');
    font-weight:900;
    font-stretch:normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('@{RalewayPath}/Light/RalewayLight.eot');
    src: url('@{RalewayPath}/Light/RalewayLight.eot') format('embedded-opentype'),
         url('@{RalewayPath}/Light/RalewayLight.woff') format('woff'),
         url('@{RalewayPath}/Light/RalewayLight.ttf') format('truetype'),
         url('@{RalewayPath}/Light/RalewayLight.svg#RalewayLight') format('svg');
    font-weight:300;
    font-stretch:normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('@{RalewayPath}/Regular/RalewayRegular.eot');
    src: url('@{RalewayPath}/Regular/RalewayRegular.eot') format('embedded-opentype'),
         url('@{RalewayPath}/Regular/RalewayRegular.woff') format('woff'),
         url('@{RalewayPath}/Regular/RalewayRegular.ttf') format('truetype'),
         url('@{RalewayPath}/Regular/RalewayRegular.svg#RalewayRegular') format('svg');
    font-weight:normal;
    font-stretch:normal;
}*/
/*@font-face {
  font-family: 'Open Sans';
  src: url('@{OpenSansPath}/Light/OpenSans-Light.eot');
  src: url('@{OpenSansPath}/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       url('@{OpenSansPath}/Light/OpenSans-Light.woff') format('woff'),
       url('@{OpenSansPath}/Light/OpenSans-Light.ttf') format('truetype'),
       url('@{OpenSansPath}/Light/OpenSans-Light.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('@{OpenSansPath}/LightItalic/OpenSans-LightItalic.eot');
  src: url('@{OpenSansPath}/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('@{OpenSansPath}/LightItalic/OpenSans-LightItalic.woff') format('woff'),
       url('@{OpenSansPath}/LightItalic/OpenSans-LightItalic.ttf') format('truetype'),
       url('@{OpenSansPath}/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('@{OpenSansPath}/Regular/OpenSans-Regular.eot');
  src: url('@{OpenSansPath}/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('@{OpenSansPath}/Regular/OpenSans-Regular.woff') format('woff'),
       url('@{OpenSansPath}/Regular/OpenSans-Regular.ttf') format('truetype'),
       url('@{OpenSansPath}/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('@{OpenSansPath}/Italic/OpenSans-Italic.eot');
  src: url('@{OpenSansPath}/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('@{OpenSansPath}/Italic/OpenSans-Italic.woff') format('woff'),
       url('@{OpenSansPath}/Italic/OpenSans-Italic.ttf') format('truetype'),
       url('@{OpenSansPath}/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('@{OpenSansPath}/Semibold/OpenSans-Semibold.eot');
  src: url('@{OpenSansPath}/Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
       url('@{OpenSansPath}/Semibold/OpenSans-Semibold.woff') format('woff'),
       url('@{OpenSansPath}/Semibold/OpenSans-Semibold.ttf') format('truetype'),
       url('@{OpenSansPath}/Semibold/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('@{OpenSansPath}/SemiboldItalic/OpenSans-SemiboldItalic.eot');
  src: url('@{OpenSansPath}/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
       url('@{OpenSansPath}/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'),
       url('@{OpenSansPath}/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'),
       url('@{OpenSansPath}/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('@{OpenSansPath}/Bold/OpenSans-Bold.eot');
  src: url('@{OpenSansPath}/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('@{OpenSansPath}/Bold/OpenSans-Bold.woff') format('woff'),
       url('@{OpenSansPath}/Bold/OpenSans-Bold.ttf') format('truetype'),
       url('@{OpenSansPath}/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('@{OpenSansPath}/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('@{OpenSansPath}/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('@{OpenSansPath}/BoldItalic/OpenSans-BoldItalic.woff') format('woff'),
       url('@{OpenSansPath}/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'),
       url('@{OpenSansPath}/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('@{OpenSansPath}/ExtraBold/OpenSans-ExtraBold.eot');
  src: url('@{OpenSansPath}/ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('@{OpenSansPath}/ExtraBold/OpenSans-ExtraBold.woff') format('woff'),
       url('@{OpenSansPath}/ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'),
       url('@{OpenSansPath}/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('@{OpenSansPath}/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
  src: url('@{OpenSansPath}/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('@{OpenSansPath}/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'), url('@{OpenSansPath}/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'), url('@{OpenSansPath}/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}*/
