@{
    ViewBag.Title = "Home Page";
}

<h3 class="title">Hướng dẫn sử dụng:</h3>
<ol class="round">
    <li class="one">
        <h5>Quản trị nội dung</h5>
        Chọn các chức năng ở menu để quản trị nội dung website
    </li>
    <li class="two">
        <h5>Thay đổi mật khẩu</h5>
        Người dùng nên chọn mật khẩu đủ khó để tránh việc bị bẻ khóa mật khẩu.
        Thay đổi mật khẩu sau 1 thời gian sử dụng.
    </li>
</ol>
<h3 class="title">Hỗ trợ kỹ thuật:</h3>
<ol class="round">
    <li class="three">
        <h5>Địa chỉ</h5>
        <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i> 114/30 Tô Ngọc Vân, P.Thạnh Xuân, Q.12, TP. Hồ Chí Minh
        </p>
        <p>
            <i class="fa fa-phone" aria-hidden="true"></i> Tư vấn & hỗ trợ kỹ thuật qua điện thoại:<a href="tel:0913536461"> (028) 62954528 - 6257 6674 - 6257 6739</a>
        </p>
        <p class="link"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto: hotro@viennam.com">   hotro@viennam.com</a></p>
        @*<p>
            <i class="fa fa-map-marker" aria-hidden="true"></i> 12/1 Đường 44, P.14, Quận Gò Vấp, TP. Hồ Chí Minh
        </p>
        <p>
            <i class="fa fa-phone" aria-hidden="true"></i> Tư vấn & hỗ trợ kỹ thuật qua điện thoại:<a href="tel:0913536461">0938 253 071</a>
        </p>
        <p class="link"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@longphu.net">  info@longphu.net</a></p>*@
        @*<p class="link"><i class="fa fa-skype" aria-hidden="true"></i> skype: <a href="skype:viennam.contact?chat">viennam.contact</a>​</p>
            <p>&copy; @DateTime.Now.Year - vcms administrator</p>*@
    </li>
</ol>
