
<div class="row">
    <p class="message-success">@ViewBag.StatusMessage</p>
    @if (ViewBag.HasLocalPassword)
    {
        ViewBag.Title = Html.Locale("account_update_password").ToHtmlString();
        ViewBag.Breadcrumb = new BreadcrumbModel { Items = new List<BreadcrumbItem> { new BreadcrumbItem { Text = Html.Locale("account_update_password").ToHtmlString(), Url = null, IsLast = true } } };
        @Html.Partial("Change")
    }
    else
    {
        ViewBag.Title = Html.Locale("account_forgot_password_2").ToHtmlString();
        ViewBag.Breadcrumb = new BreadcrumbModel { Items = new List<BreadcrumbItem> { new BreadcrumbItem { Text = Html.Locale("account_forgot_password_2").ToHtmlString(), Url = null, IsLast = true } } };
        
        @Html.Partial("ResetPassword")
    }
</div>
