@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <title>Login</title>
</head>
<body onload="if(window.location.href.indexOf('cancel')>0) window.close(); else  javascript:__doPostBack('<%=btnLogIn.ClientID %>', '');">
    <form id="form1">
        <div>
            <rp:OpenIdButton runat="server" ID="btnLogIn" OnLoggedIn="btnLogIn_LoggedIn">
                <extensions>
                    <sreg:claimsrequest email="Require" birthdate="Require" country="Require"
                                        fullname="Require" gender="Require" language="Require" nickname="Require"
                                        postalcode="Require" timezone="Require" />
                </extensions>
            </rp:OpenIdButton>
        </div>
    </form>
</body>
</html>

