@using VCMS.MVC4.Extensions
@{
    Layout = null;
    ViewBag.Title = "Import Locale";
    ViewBag.Breadcrumb = new BreadcrumbModel()
    {
        Items = new List<BreadcrumbItem>()
        {
            new BreadcrumbItem(){Url = Url.Action("Index","Home"), Text="Trang chủ", IsFirst=true},
            new BreadcrumbItem(){Url = Url.Action("Index","Locale"), Text="Danh sách chuỗi", IsLast = true},
        }
    };
}
<div class="modal-dialog">
    <div class="form no-boder-radius import">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
            <h4 class="modal-title" id="myModalLabel">Import Locale</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "locale-form", enctype = "multipart/form-data" }))
            {
                <div class="editor-label">
                    @Html.Label("Chọn file Import")
                </div>
                <div class="editor-field file article">
                    @Html.TextBox("Import", null, new { type = "file", data_val = "true" })<i data-label="Chọn file"></i>
                    @Html.ValidationMessage("Import")
                </div>
                <div id=""></div>
                <div class="toolbar">
                    <span class="button">
                        <button id="button-locale-import" type="submit" class="btn save"><i class="fa fa-save"></i> Upload</button>
                    </span>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $("#button-locale-import").on("click", function () {
        var _this = $(this);
        var data = new FormData();
        var files = $("#Import").get(0).files;

        if (files.length > 0) {
            data.append("Import", files[0]);
        }

        $.ajax({
            url: '@Url.Action("Import","Locale")',
            data: data,
            type: "post",
            //dataType: "json",
            contentType: false,
            processData: false,
            success: function (json) {
                $('.alert, .text-danger').remove();
                if (json['redirect'])
                    location = json['redirect'];
                else if (json['error']) {
                    
                    $('.modal-body').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
                return false;
            }, error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
        return false;
    });
</script>
